.add-option {
    display: flex;
    justify-content: column;
    padding: $s-size 0;
}

.add-option__input {
    border: none;
    border-bottom: 2px solid black;
    flex-grow: 1;
    margin-right: $m-size;
    padding: $s-size;
    font-size: $medium-font;
    font-family: 'PT Mono', monospace; // Have to set font style here independently
}

.add-option__input:focus {
    outline: none; // Remove default input highlight outline
    background-color: $grey;
    border-radius: $s-size;
    border: 2px dashed black;
    font-family: 'PT Mono', monospace; // Have to set font style here independently
}

// Add Option Error
.add-option__error {
    color: $dark-grey;
    font-style: italic;
    margin: $s-size 0 0 0;
    padding: 0 $s-size;
}