.button {
    background-color: white;
    padding: 0;
    border: 0;
    
    &:hover {
        background-color: black;
        color: white;
    }
   
}

.button--circle {
    width: 35px;
    
    height: 35px;
    border-radius: 35px;
    border: 2px solid;
}

.button--slot {
    @extend .button--circle;

    width: 70px;
}


.button--add {
    font-size: $large-font;
}

.button--nav {
    width: 35px;
    
    height: 35px;
    border-radius: 35px;
    border: none;

    font-size: $large-font;
    
}

.button-header {
    font-size: $header-font;
    font-weight: 1000;

    background-color: white;
    border: none;
    font-family: 'PT Mono', monospace; // Must set font style here independently

    &:hover {
        font-size: #{$header-font * 1.2};
    }
}