.button {
    background-color: white;
    padding: 0;
    border: 0;
    &:hover {
        background-color: black;
        color: white;
    }

    // display: flex;
    // align-items: center;
    // justify-content: center;
   
}

.button--circle {
    width: 35px;
    
    height: 35px;
    border-radius: 35px;
    border: 2px solid;
}

.button--slot {
    @extend .button--circle;

    width: 70px;
}



.button--add {
    font-size: $large-font;
}