
.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    padding: $s-size 0;        
}

.header__link {
    text-decoration: none;
}

.header__title {
    
    align-items: center;
    display: flex;
    justify-content: center;
    

    margin: 0; 
    padding: $s-size 0;

    height: 8rem;
}