.option {
    background-color: $grey;
    border-radius: $s-size;
    border: 2px dashed black;
    display: flex;
    justify-content: space-between;
    padding: $xs-size;
    margin-bottom: $xs-size;
}

.option__description {
    display: flex;
    justify-content: space-between;
}

.option--completed {
    text-decoration: line-through;
    color: $dark-grey;
}
