.option {
    background-color: $grey;

    border-radius: $s-size;
    border: 2px dashed black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 $s-size;
    margin-bottom: $s-size;
}

.option__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option__decription__checkbox {
    transform: scale(1.5);
    margin-right: $s-size;
}

.option__description--completed {
    
    text-decoration: line-through;
    color: $dark-grey;
}
