.option-group {
    margin: $s-size 0;
}

.option-group__header {
    
    display: flex;
    justify-content: space-between;
    padding: $xs-size;
    
}

.option-group__message {
    border-bottom: 2px solid;
    margin: 0;
    padding: $s-size;
    text-align: center;
}